body {
  background-color: #777777;
  color: #888888;
}

.header {
  background-color: #555555;
}

.threadList {
    background-color: #444444;
}

.threadList ul {
  list-style-type: none;
}

.threadList ul li:nth-child(odd) {
  background-color: #666666;
}
